/* add heading background colour with gradient */
.weather-header {
    background: rgb(105,104,138);
    background: linear-gradient(90deg, rgba(105,104,138,1) 0%, rgba(9,9,121,1) 60%, rgba(9,9,121,1) 100%);
}

h1.weather-header {
    font-weight: 900;
}

.h2, h2 {
    font-weight: 700;
    display: inline-block;
    line-height: 5rem;
}

hr {
    border-top: 1px solid #8c8b8b;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2#form-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 2;
}

/* increase size of weather metris on the current weather */
p.weather-metrics {
    font-size: 20px;
}

/* adjust the left margins of the search form */
.input-group {
    margin-left: 20px;
}

/* adjust the search input area */
input#search-input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
}

button#search-button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    width: 100%;
}

.list-group-item {
    background-color: rgba(128, 128, 128, 0);
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}


.city-button {
    background-color: #808080dd;
    color: white;
    margin-top: 10px;
    width: 100%;
}

#today {
    margin: 10px;
    border: 1px solid black;
}

section#forecast {
    margin-left: 10px;
}

.forecast-row {
    margin-left: 0px;
    margin-right: 20px;
}


.weather-forecast {
    background-color: rgb(20, 57, 102);
    align-items: flex-start;
    margin: 10px;
    border-radius: 0;
}

.forecast-date {
    font-weight: 700;
    font-size: larger;
}

.forecast-metric {
    border: 0;
    color: white;
    padding: 10px;
}